<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="res_config_settings_view_form" model="ir.ui.view">
            <field name="name">res.config.settings.view.form.inherit.sale</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="10"/>
            <field name="inherit_id" ref="sale.res_config_settings_view_form" />
            <field name="arch" type="xml">
                <xpath expr="//div[@id='sale_ebay']" position="after">
                    <h2 class="mt32">New Configuration</h2>
                    <div class="row mt16 o_settings_container">
                        <div class="col-12 col-lg-6 o_setting_box">
                            <div class="o_setting_right_pane">
                                <label for="allowed_warehouse"/>
                                <div class="text-muted">
                                    <field name="allowed_warehouse" />
                                </div>                                
                            </div>
                        </div>
                    </div>
                </xpath>
            </field>
        </record>
    </data>
</odoo>